/*Стиль для категорий*/
.aside  
{
    display:inline-block;
    float:left;
    height:100%;
    width: 20%;
    padding: 5px;
    margin: 0px 1px 1px 0px;
    border-color:#808080;
    border-width: 1px;
    border-style: solid;  
}
/*Стиль для заголовка категорий*/
.aside-title
{
    align-items: center;
    font-size:40px;
    font-weight: bold;
    padding: 0;
}
/*Стиль для списка категорий*/
.aside-list
{
    display:inline-block;
    padding: 0;
    padding-inline-start: 0;
}
/*Стиль для каждого элемента списка категории*/
.aside-list-item
{
    display: block;
    font-size: 25px;
    background-color: rgba(103, 164, 185, 0.8);
    border-color:rgba(0, 0, 1, 0.2);
    border-width: 2px;
    border-style: double;
    padding:  0.5 rem 1 rem;
    margin-bottom: 10px;
    text-decoration:none;
    font-style:initial;
    font-weight: bold;
    color: rgb(10, 10, 10);
    list-style: none;
    padding-inline-start: 0px;
} 
