
/*Обнуляем отступы от внешней границы, вчастности для списка*/
*{
    padding: 0;
    padding-inline-start: 0px;
}
/*Стиль для body*/
    body{
            display: block;
            min-width:800px;
            margin: 0;
            height: 100ch;
            }

/*Обтекание с левой стороны*/
.float-left
{
    float: left!important;
    padding-left: 2rem;
}
/*Обтекание с правой стороны*/
.float-right
{
    float: right!important;
    padding-left: 2rem;
}